.app_related-product,
.app__feedback {
    padding-top: 30px;
    background-color: var(--bg-menu-color);
}

.container__details{
    background-color: var(--white-color);
    box-shadow:  0 1px 1px 0 rgba(0,0,0,.05);
}

.app__details-header {
    padding: 30px 0;
    position: relative;
}

.app__details-header-img {
    /* border-right: 0.3px solid #e4e4e4; */

}

.detail-product-item__img {
    padding-top: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    position: relative;
    height: 300px;
    width: 480px;
}

.header__describe {
    display: flex;
    flex-direction: column;
}

.product-describe__cate {
    /*width: 200px;*/
}

.product-describe__cate-status {
    padding: 2px 6px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
    font-size: 1.3rem;
    margin-right: 10px;
}

.product-describe__cate-label {
    font-size: 1.12rem;
    color: var(--color-infor);
}

.product-describe__title {
    margin: 10px 0 4px 0;
    font-weight: 600;
    font-size: 2.4rem;
}

.product-describe__address {
    color: var(--text-color);
    margin: 2px 0;
    font-size: 1.3rem;
}

.product-describe__statistic {
    margin: 8px 0;
}

.product-describe__feedback {
    margin: 0 40px;
    font-size: 1.4rem;
}

.product-describe__rating {
    font-size: 1.4rem;

}

.product-describe__rating i {
    color: var(--star-color);
}

.product-describe__sold {
    font-size: 1.4rem;
    color: var(--text-color);
}

.product-describe__rating-number {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.product-describe__feedback-number {
    color: var(--white-color);
    background-color: var(--star-color);
    padding: 2.6px 8px;
    border-radius: 4px;

}

.product-describe__feedback-title {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 4px;
}

.product-describe__sold-number {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.product-describe__price {
    margin: 10px 0;
    color: var(--text-color);
}

.product-describe__price-old {
    font-size: 1.66rem;
    text-decoration: line-through;
    color: #929292;
}

.product-describe__price-current {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-left: 30px;
}

.product-describe__open {
    margin: 4px 0;
    color: #329900;
    font-size: 1.4rem;

}

.product-describe__dotime {
    margin: 2px 0;
    color: var(--color-infor);
    font-size: 1.4rem;
}

.product-describe-btn {
    display: flex;
    margin: 20px 0;
}

.product-describe-btn__order {
    width: 120px;
    display: flex;
    justify-content: center;
    max-height: 34px;
    margin: 0 20px;
}

.product-describe-btn__cart {
    max-height: 34px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin: 0;
}

.product-describe-btn__cart:hover {
    background-color: #f2eeee;
}


/* product related to product details */
.app__details-related {
    /* background-color: var(--white-color); */
    /* height: 300px; */
    /* margin-left: -15px; */
    /* margin-right: -15px; */
    max-width: 100%;
}

.detail-product-title {
    font-size: 2rem;
    margin: 0 4px;
    color: #8a8888;
}

.detail__product-list {
    display: flex;
    flex-wrap: wrap;
}

.detail__product-item {
    height: 275px;
    width: 100%;
    display: block;
    position: relative;
    background-color: var(--white-color);
    text-decoration: none;
    margin-top: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in-out 0.1s;
    will-change: transform;
}

.detail__product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}


.detail-product-item__name {
    color: var(--black-color);
    font-size: 1.2rem;
    line-height: 14px;
    padding: 0 8px;
    margin: 4px 4px;
    /* margin-bottom: 20px ; */
    /* add text-overflow */

}

.detail-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 0;
}


.detail-product-item__coupons {
    display: flex;
    /* justify-content: space-evenly; */
    max-height: 18px;
}

.detail-product-item__coupons-price {
    height: 16px;
    line-height: 16px;
    font-size: 1.05rem;
    padding: 0 5px;
    color: var(--white-color);
    background-color: rgb(246, 145, 19);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    margin: 0 6px 0 12px;
}

.detail-product-item__coupons-sale {
    font-size: 1rem;
    padding: 1px 3px;
    color: var(--primary-color);
    border: 1px solid;
    border-radius: 2px;
}

/*  */
#large-image {
    width: 100%;
    height: 100%;
}

.detail-picture {
    max-height: 106px;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.detail-picture__contain {
    position: relative;
}

.detail-picture__img {
    width: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
    border-radius: 2px;
}

.detail-picture__img:hover {
    border: 0.18rem solid var(--primary-color);
}

/* feedback */
.feedback {
    background-color: var(--white-color);
    padding: 25px;
    box-shadow: var(--box-shadow);
}


.feedback-title {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 14px;
}

.feedback-overiew {
    padding: 30px;
    background-color: #fffbf8;
    min-height: 5rem;
    border: 1px solid #f9ede5;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-sizing: border-box;
}

.feedback-rating {
    color: var(--primary-color);
    margin-right: 30px;
}

.feedback-rating__average {
    font-size: 3rem;
}

.feedback-rating__score {
    font-size: 2rem;
}

.feedback-rating__star {
    font-size: 1.66rem;
}

.feedback-filter {
    display: flex;
    flex-wrap: wrap;
}

.feedback-filter__btn-submit {
    justify-content: center;
    height: 34.4px;
    margin: 5px 4px;
    border-radius: 2px;
}

.feedback-main {
    display: flex;
    padding: 0 0 16px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    margin-top: 20px;
}

.feedback-avt {
    margin: 0 10px;
}

.feedback-content__author {
    font-size: 1.26rem;
    color: rgba(0, 0, 0, .87);
}

.feedback-content__author-rating {
    color: var(--primary-color);
    padding: 3px 0;
}

.feedback-content__author-time {
    color: rgba(0, 0, 0, .54);
}

.feedback-content__author-comment {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 1.4rem;
}

.feedback-content__author-main {
    font-size: 1.4rem;
    margin: 4px 0;
}

.feedback-content-label {
    display: flex;
    flex-direction: row;
}

.feedback-content-pic {
    height: 70px;
    width: 70px;
    position: relative;
    margin: 16px 12px 10px 0;
    cursor: zoom-in;
}

.feedback-content__image {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/*box product_shop-page*/
.detail-page__shop {
    padding-top: 20px;
    background-color: var(--bg-menu-color);
}

.page__shop-container {
    background: var(--white-color);
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    height: 130px;
    padding: 23px;
}

.page__shop-left {
    max-width: 370px;
    border-right: 1px solid rgba(0,0,0,.05);
    padding-right: 25px;
    height: 100%;
}

.page__shop-avatar {
    height: 80px;
    width: 80px;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.page__shop-avatar__img {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #d6d6d6;
}

.page__shop-infor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    min-width: 232px;
    max-width: 232px;
}

.page__shop-infor__name {
    color: var(--title-color);
    font-size: 1.56rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page__shop-infor__status {
    color: var(--color-gray);
    font-size: 1.4rem;
}

.page__shop-infor__btn {
    width: 100%;
    justify-content: space-between;
}

.page__shop-img {
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    width: 14px;
}

.page__shop-btn-visit {
    height: 32px;
    width: 110px;
    margin: 0;
    line-height: 0;
}

.page__shop-right {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1.25rem 3.125rem;
    color: rgba(0,0,0,.4);
    gap: 1.25rem 3.125rem;
    padding-left: 25px;
    flex-grow: 1;

}

.page__shop-descripte {
    cursor: default;
    display: flex;
    justify-content: space-between;
    outline: 0;
    overflow: visible;
    position: relative;
}

.page__shop-descripte-title {
    font-size: 1.4rem;
    font-weight: normal;
    color: rgba(0,0,0,.4);
    text-transform: capitalize;
}

.page__shop-descripte-number {
    color: var(--primary-color);
    text-align: right;
    white-space: nowrap;
}

