/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2024, 11:48:41 PM
    Author     : admin
*/

/* footer */

.app__footer {
    height: 300px;
    padding-top: 40px;
    background-color: #ececec;
    /* box-shadow: 0.5px 0.5px 6px #dfdfdf; */
    border-top: 4px solid var(--primary-color) ;
}

.app__footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app__footer-list a {
    position: relative;
    padding: 0 60px;
    margin-bottom: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.66);
    font-size: 1.35rem;
    font-weight: 400;
    border-right: 1px solid rgba(0, 0, 0, 0.09);

}

.app__footer-list a:hover {
    color: var(--primary-color);
}

.app__footer-address {
    display: block;
    justify-content: center;

}

.app__footer-address li {
    color: rgba(0, 0, 0, .66);
    list-style: none;
    text-align: center;
    margin: 24px auto;
    font-size: 1.3rem;

}

/* Thiết lập kiểu cho footer */
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

/* Căn chỉnh nội dung của footer */
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Tạo kiểu cho các phần của footer */
.footer-section {
    flex: 1;
    margin-right: 20px;
}

/* Kiểu cho tiêu đề của mỗi phần */
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Kiểu cho danh sách liên kết */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .66);

}

.footer-section ul li a {
    text-decoration: none;
    color: #555;
}

.footer-section ul li a:hover {
    color: #000;
}
