/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2024, 6:00:58 PM
    Author     : admin
*/

.order-menu {
    margin-bottom: 14px;
    max-height: 52.6px;
    padding: 0 !important;
}

.order-menu__name {
    width: 14.2%;
}

.order-menu__link {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fadeIn .2s ease-in-out;
}

.order-menu__link:hover {
    color: var(--primary-color);
}

.order-menu__name--active .order-menu__link {
    color: var(--primary-color);
    border-bottom: 1.6px solid var(--primary-color);
}

.order-product {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}

.order-product-img {
    height: 70px;
    width: 100px;
    border: 1px solid #e1e1e1;
}

.order-product-describe {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.order-product-label {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.1rem;
    padding: 3px 6px;
    border-radius: 3px;
    margin:0 3px 0 0;
    text-align: center;
}

.order-product-name {
    color: var(--title-color);
    font-size: 1.5rem;
    margin-bottom: 4px;
    flex: 1;
}

.order-product-category {
    font-size: 1.36rem;
    color: rgba(0,0,0,.54);
}

.order-product-old__price {
    color: #c0c0c0;
    margin-right: 6px;
    text-decoration-line: line-through;
}

.order-product-current__price {
    color: var(--primary-color);
}

.order-total {
    justify-content: flex-end;
    padding: 20px 0 12px 0;
}

.order-total__price {
    color: var(--primary-color);
    font-size: 2.4rem;
}

.order-button {
    justify-content: space-between;
    padding: 10px 0 24px 0;
}

.order-notify {
    color: var(--text-color);
    font-size: 1.2rem;
}

.order-notify-coin {
    color: var(--primary-color);
}

.order-btn {
    margin: 0 0 0 8px !important ;
    width: 158px;
    line-height: 16px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.order-btn-no_drop {
    background-color: rgba(0,0,0,.26)!important;
    border: 1px solid rgba(0,0,0,.26)!important;
    color: #555!important;
    opacity: .4;
    cursor: no-drop !important;

}

/* dialog add feedback */

.order-feedback {
    min-width: 700px;
    padding: 30px 30px 0 30px;
}

.dialog-feedback-title {
    color: var(--title-color);
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.dialog-feedback {
    overflow-y: scroll;
}

.dialog-feedback-product {
    display: flex;
}

.dialog-feedback-product__img {
    display: inline-block;
    width: 82px;
    height: 60px;
    border: 1px solid rgba(0,0,0,.09);
    flex-shrink: 0;
    object-fit: cover;
}

.dialog-feedback-product__describe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8px;
}

.dialog-feedback-product__name {
    color: var(--title-color);
    font-size: 1.4rem;
    /*padding-top: 2px;*/
}

.dialog-feedback-product__category {
    color: rgba(0,0,0,.26);

}
.dialog-feedback-rating {
    margin: 16px 0;
}

.dialog-feedback-rating__title {
    font-size: 1.4rem;
    color: var(--title-color);
}

.dialog-feedback-rating__star {
    font-size: 3.4rem;
    color: var(--color-infor);
    margin: 0 20px 0 40px;
    cursor: pointer;
}

.star.active {
    color: #ffcc00;
}

.dialog-feedback-rating__label {
    color: var(--star-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.dialog-feedback-content {
    box-sizing: border-box;
    box-shadow: inset 0 -0.5px 0 rgba(0,0,0,.09);
    margin: 18px 12px;
    padding: 10px 14px;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: 2px;
}

.dialog-feedback-content__describe {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.dialog-feedback-content__title {
    color: var(--title-color);
    font-size: 1.6rem;
}

.dialog-feedback-content__textarea {
    border: none;
    outline: 0px;
    font-size: 1.54rem;
    overflow: auto;
    resize: none;
    width: 96%;
}

.dialog-feedback-content__textarea::placeholder {
    color: rgba(0,0,0,.26);
}


.dialog-feedback-border {
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.09);
    padding: 0;
    margin-bottom: 15px;
}

.dialog-feedback-file {
    margin: 0 12px 10px 12px;
    cursor: pointer;
}

.dialogdialog-feedback-file__choose {
    border: 0px;
    outline: 0px;
    cursor: pointer;
}

.dialog-feedback-image {
    display: flex;
    margin: 0 12px;
}

.dialog-feedback-image div {
    height: 62px;
    width: 62px;
    position: relative;
    overflow: hidden;
    margin-right: 6px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1.2px solid rgba(0,0,0,.09);
    margin: 0 8px 0 0;
    border-radius: 2px;

}

.dialog-feedback-checkbox {
    margin: 14px 12px;
}

.dialog-feedback-checkbox__input {
    width: 20px;
    height: 18px;
    margin: 0 !important;
    cursor: pointer;
}

.dialog-feedback-checkbox__title {
    margin-left: 6px;
    align-items: center;
    display: flex;
}

.dialog-feedback-submit {
    width: 100%;
    min-height: 80px;
    justify-content: flex-end;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .1);
    padding: 0;
}

.dialog-feedback-submit__btn {
    margin: 0 12px 0 0 !important;
    width: 120px;
    height: 38px;
    line-height: 16px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    cursor: pointer;
}

.form__login-message {
    padding: 8px 12px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #d94643;
    background-color: #f8e9e9;
    max-width: 242px;
    justify-content: center;
    display: flex;
    margin: 6px 34%;
}


.order-no__box {
    align-items: center;
    background: #fff;
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.holafood-no-order {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}

.order-no-title {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin: 20px 0 0;
}


/*dialog reason cancel order*/
.dialog__order-code__notification {
    width: 440px;
}

.dialog__order-content__notification {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    color: var(--color-gray);
    font-size: 1.5rem;
}

.dialog-body-reason__title {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-left: 2px;
    font-weight: 500;
    text-transform: capitalize; 
}

.dialog__order-reason__btn {
    margin: 8px 3px 0 0;
    padding: 10px;
}

/*model form edit address*/
.input-box {
    height: 40px;
}

.checkout-input-field label {
    top: 10px;
}

