/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2024, 11:26:26 PM
    Author     : admin
*/

.resgister__seller {
    background-color: var(--bg-menu-color);
}

.container__heading {
    background-color: var(--white-color);
    box-shadow: 1px 1px 6px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.header__manager {
    min-height: 64px;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__manager-left {
    display: flex;
    align-items: center;

}

.header__manager-item {
    min-width: 130px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header__manager-item:hover {
    color: var(--hover-color);
}

.header__manager-item i {
    font-size: 38px;
    padding-right: 10px;
}

.header__manager-item__name {
    text-decoration: none;
    font-size: 2.2rem;
    margin-top: 6px;
    padding-right: 30px;
}

.header__manager-title {
    font-size: 1.9rem;
    padding-left: 30px;
    margin-top: 6px;
    border-left: 1px solid #ccc;
}


/* header manager user  */
.header__manager-right {
    min-width: 180px;
    display: inline-block;
    margin: auto 0;
    position: relative;
    cursor: pointer;
}

/* .header__manager-user:hover {
    background-color: #edecec;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
} */

.header__manager-user-img {
    border-radius: 50%;
    width: 34px;
}

.header__manager-user-name {
    font-size: 1.5rem;
    margin-left: 5px;
    text-align: center;
}

.header__manager-user-menu {
    position: absolute;
    top: calc(100% + 2px);
    background-color: var(--white-color);
    box-shadow: 1px 2px 20px #ccc;
    border-radius: 2px;
    min-width: 180px;
    padding: 0.4cqi 0;
    animation: fadeIn 0.3s ease-out;
    display: none;
    z-index: 1;
}

.header__manager-right:hover .header__manager-user-menu {
    display: block;
}

.header__manager-user-menu::after {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    left: 40px;
    top: -29px;
}

.header__manager-user-item {
    list-style: none; 
}

.header__manager-user-item a {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 18px;
    display: block;
}

.header__manager-user-item a:hover {
    color: var(--primary-color);
}

/* form register seller*/

.register-seller {
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    margin-top: 90px;
    padding: 30px 0 ;
    margin-bottom: 120px;
    box-shadow: var(--box-shadow);
    height: 500px;
    align-items: center;
}

.register-seller-box {
    display: flex;
    padding-left: 190px;
}

.register-seller-icon {
    color: var(--primary-color);
    padding-right: 6px;
    font-size: 1.4rem;
}

.register-seller-item {
    width: 600px;
    margin: 10px 0 ;
}

.register-seller-title {
    width: 180px;
    text-align: right;
    padding-right: 30px;
    color: var(--text-color);
}

.register-seller-input {
    flex: 1;
    width: 320px;
    max-width: 400px;
    height: 36px;
    border: 1px solid rgba(0,0,0,.14);
    padding: 8px 12px;
    outline: none;
    border-radius: 2px;

}

.register-seller-input:hover {
    border: 1px solid #adadad;
}

.register-seller-btn {
    width: 80px;
    height: 36px;
    line-height: 14px;
    margin: 0 0 0 30px;
}