/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2024, 5:10:16 PM
    Author     : admin
*/


.form__heading {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 400;
    margin: 30px 0;
}

.form__login-message {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #04b52a;
    background-color: #eefff1;
    border-color: #a8ecc7;
}

.form__login-group__input {
    margin-bottom: 18px;
    padding: 10px;
    flex: 1;
    min-width: 100%;
    border: 0.1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    color: var(--text-color);
    height: 42px;
    outline-color: rgb(98, 98, 98);
    font-size: 1.4rem;
}

.form__login-footer {
    display: flex;
    justify-content: center;
    margin: 28px auto;
    color: var(--text-color);

}

.form__login-footer p {
    color: rgb(174, 176, 179);
    font-weight: 200;

}




